* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.container {
   width: 70%;
   margin: auto;
}

.header-area {
   height: 17vh;
   margin: auto;
   background-color: #4EA0FF;
   background-image: url('../img/pattern.png');
   background-size: contain;
}

.logo-booleaner {
   width: 20%;
   margin: 40px 0 0 20px;
}