* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.container {
   width: 70%;
   margin: auto;
}

.header-area {
   height: 17vh;
   margin: auto;
   background-color: #4EA0FF;
   background-image: url('../img/pattern.png');
   background-size: 30%;
}

.logo-booleaner {
   width: 20%;
   margin: 8vh 0 0 3vw;
}

.title {
   font-size: 25px;
}

.author-date {
   color: #7D7D7D;
}

.author-date a {
   color: cornflowerblue;
   text-decoration: none;
}

.image-tim-berners {
   margin: 20px 0 0 0;
}

.image-tim-berners :first-child {
   width: 54%;
}

.image-tim-berners :last-child {
   width: 45.5%;
}

.description-image {
   margin-bottom: 20px;
}

.list, .paragraph {
   margin: 20px;
}

table {
   border-collapse: collapse;
   text-align: left;
 }

thead tr {
   background-color: #20A9E5;
   color: #FFF;
}

table .first-column, .second-column {
   width: 25%;
}

table .third-column {
   width: 50%;
}

tbody .lightblue-background  {
   background-color: #B1E5F2;
}

.yellow-background {
   background-color: yellow;
}